<div id="archives">
  {% for post in site.posts%}
  <article class="archive-item">
    <h5><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h5>
    <p>
      <span class="post-date">
        <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
          {{ post.date | date:"%Y/%m/%d" }}
        </time>
      </span>           
    </p>
  </article>
  {% endfor%}
  {% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <h3 class="category-head">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>    
  </div>
  {% endfor %}
</div>
