<h3>文章列表</h3>
<div id="archives">
  {% for post in site.posts%}
  <article class="archive-item">
    <h5><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h5>
    <p>
      <span class="post-date">
        <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
          {{ post.date | date:"%Y/%m/%d" }}
        </time>
      </span>           
    </p>
  </article>
  {% endfor%}
  <hr/>
<h5>文章分类</h5>
<ul>
{% for category in site.categories %}
    <li style="font-size: {{ category | last | size | times: 100 | divided_by: site.categories.size }}%">
        <a href="/{{ category | first | slugize }}/">
            {{ category | first }}
        </a>
    </li>
{% endfor %}
</ul>

</div>
