<div class="sidebar">
    <div class="sidebar-section">        
        {% include categories.html %}
    </div>
            
    <div class="sidebar-section">
        <h5><span>References</span></h5>
        <ul style="list-none;">
            <li><a target="_blank" href="https://www.python.org/">Python</a></li>
            <li><a target="_blank" href="https://www.ecma-international.org/publications/standards/Ecma-262.htm">ECMAscript</a></li>
            <li><a target="_blank" href="https://docs.microsoft.com/zh-cn/dotnet/csharp/">C Sharp</a></li>
            <li><a target="_blank" href="https://docs.microsoft.com/zh-cn/dotnet/core/">DotNet Core</a></li>
            <li><a target="_blank" href="http://openjdk.java.net/">Java</a></li>
        </ul>
    </div>
         
</div>