<h4>Tag Cloud</h4>
{% assign tags = site.tags | sort %}
<div class='site-tag'>
{% for tag in tags %}
    <a href="/tag/{{ tag | first | slugify }}/"
        style="font-size: {{ tag | last | size  | times: 4 | plus: 80 }}%">
            {{ tag[0] | replace:'-', ' ' }} <i class="badge">({{ tag | last | size }})</i>
    </a>
{% endfor %}
</div>

<h4>Category Cloud</h4>
<ul>
{% for category in site.categories %}
    <li style="font-size: {{ category | last | size | times: 100 | divided_by: site.categories.size }}%">
        <a href="/{{ category | first | slugize }}/">
            {{ category | first }}
        </a>
    </li>
{% endfor %}
</ul>