---
# Lets add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

// Import partials from `sass_dir` (defaults to `_sass`)

@import "syntax";

table {
  border-collapse: collapse;
  th {
    text-align: center;
    margin: 0 auto;
    background: #fff100;
    color: #333;
  }
  td {
    border: 1px solid #cad9ea;
    color: #333;
    height: 1.2rem;
    padding-left: 15;
    padding-right: 15;
    padding: 10;
  }
}
