<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="post-categories">
      {% if post %} {% assign categories = post.categories %} {% else %} {%
      assign categories = page.categories %} {% endif %} {% for category in
      categories %}
      <a href="{{site.baseurl}}/categories/#{{category|slugize}}"
        >{{category}}</a
      >
      {% unless forloop.last %}&nbsp;{% endunless %} {% endfor %}
    </div>
    {{ content }}
  </body>
</html>
